
body { background: #b06d39 url("../gallery_gen/07aef0494c24d603a4d933801c9f73fc.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 100%; min-height: 100%; }
.root { box-sizing: border-box; width: 100%; }
.root > div { padding-left: 15px; padding-right: 15px; }
#wb_cs_row_64 { padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 0px; }
#wb_cs_col_65 { max-width: 1310px; margin-top: 0px; min-width: 131px; width: 86.628151260504%; margin-left: 0.0%; }
#wb_cs_col_65:first-child { margin-top: 0px; }
#wb_cs_row_66 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: 0px; float: left; padding-bottom: 0px; width: 99.519017016289%; }
#wb_cs_col_67 { max-width: 160px; margin-top: 0px; min-width: 40px; width: 7.7329217772724%; margin-left: 0.0%; }
#wb_cs_col_67:first-child { margin-top: 0px; }
#wb_element_instance43 { z-index: 298; height: auto; min-height: 1px; min-width: 40px; max-width: 160px; margin-left: auto; margin-right: auto; margin-top: 0px; width: auto; float: none; }
#wb_element_instance43 img { width: 100%; height: auto; position: static; left: 0px; top: 0px; display: block; }
#wb_cs_col_68 { max-width: 1100px; margin-top: 19px; min-width: 110px; width: 71.748842498579%; margin-left: 3.076922%; }
#wb_cs_col_68:first-child { margin-top: 19px; }
#wb_element_instance42 { z-index: 300; min-height: 24px; margin-left: auto; margin-right: auto; margin-top: 0px; width: auto; float: none; }
#wb_element_instance42 p:last-child { margin-bottom: 0; }
#wb_cs_col_69 { max-width: 40px; margin-top: 8px; min-width: 40px; width: 45.378151260504%; margin-right: 0.0%; }
#wb_cs_col_69:first-child { margin-top: 8px; }
#wb_element_instance41 { z-index: 299; min-height: 60px; margin-left: auto; margin-right: auto; margin-top: 0px; width: auto; float: none; }
#wb_element_instance41 .btn-collapser { display: inline-block; margin-top: 15.5px; background-color: #0f4a8c; border-color: #ffffff; }
#wb_element_instance41.collapse-expanded > ul { position: fixed; left: 0px; width: 100%; display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance41 .btn-collapser > .icon-bar { background-color: #ffffff; }
#wb_element_instance41 .btn-collapser:hover { background-color: #0f4a8c; border-color: #ffb405; }
#wb_element_instance41 .btn-collapser:hover > .icon-bar { background-color: #ffb405; }
#wb_element_instance41 ul { background: #0f4a8c none repeat scroll left top; border: 0px none #000000; }
#wb_element_instance41 > ul { display: none; }
#wb_element_instance41.collapse-expanded > ul > li { display: block; }
#wb_element_instance41.collapse-expanded li > ul { position: static; }
#wb_element_instance41.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance41.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance41, #wb_element_instance41 ul { text-align: right; }
#wb_element_instance41 ul ul { background: transparent none repeat-x scroll left top; }
#wb_element_instance41 li { margin: 0px 0px 0px 0px; }
#wb_element_instance41 li a { text-transform: uppercase; border: 0px none #000000; padding: 20px 20px 20px 20px; font: normal bold 16px 'Open Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: transparent none no-repeat scroll right center; }
#wb_element_instance41 li.over > a, #wb_element_instance41 li:focus > a { border: 0px none #000000; font: normal bold 16px 'Open Sans',sans-serif; text-decoration: none; color: #ffb405; line-height: 18px; background: transparent none repeat-x scroll center center; }
#wb_element_instance41 li.active > a { border: 0px none #000000; font: normal bold 16px 'Open Sans',sans-serif; text-decoration: none; color: #ffb60d; line-height: 18px; background: transparent none repeat-x scroll left center; }
#wb_element_instance41:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance41:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance41:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_cs_row_70 { padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 0px; }
#wb_cs_col_71 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_71:first-child { margin-top: 0px; }
#wb_element_instance44 { z-index: 293; min-height: 24px; margin-left: auto; margin-right: auto; margin-top: 0px; width: 100%; }
#wb_element_instance44 p:last-child { margin-bottom: 0; }
#wb_element_instance45 { z-index: 9000; }
#wb_element_instance46 { z-index: 9999; }


@media (min-width: 768px) {
	.root > div { padding-left: 20px; padding-right: 20px; }
	#wb_cs_row_64 { padding-top: 20px; padding-left: 0%; padding-right: 0%; }
	#wb_cs_row_66 { padding-left: 0%; padding-right: 0.76335877862595%; }
	#wb_element_instance43 { margin-top: 0px; }
	#wb_element_instance42 { margin-top: 0px; }
	#wb_cs_col_69 { max-width: 1089.0756302521px; min-width: 108.90756302521px; }
	#wb_cs_col_65 { width: 54.583333333333%; }
	#wb_cs_col_67 { width: 12.307692307692%; }
	#wb_cs_col_68 { width: 84.615384615385%; }
	#wb_element_instance41 { margin-top: 0px; }
	#wb_element_instance41 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance41 .btn-collapser { display: none; }
	#wb_element_instance41 > ul { display: block; }
	#wb_cs_row_70 { padding-top: 40px; padding-left: 3.3333333333333%; padding-right: 76.083333333333%; }
	#wb_cs_col_71 { max-width: 494px; }
	#wb_element_instance44 { margin-top: 0px; }
	#wb_main { min-height: px; }
}

@media (min-width: 992px) {
	.root > div { padding-left: 30px; padding-right: 30px; }
	#wb_element_instance41 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance41 .btn-collapser { display: none; }
	#wb_element_instance41 > ul { display: block; }
}

@media (min-width: 1200px) {
	.root { max-width: 1860px; }
	.root > div { padding-left: 40px; padding-right: 40px; }
	#wb_element_instance41 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance41 .btn-collapser { display: none; }
	#wb_element_instance41 > ul { display: block; }
	#wb_element_instance45 { left: 0px; top: 20px; display: block; }
	#wb_element_instance46 { left: 0px; top: 90px; display: block; }
}
