
#wb_header { background: transparent none no-repeat scroll center bottom; }
#wb_main { background: #ffffff none repeat scroll left top; padding-bottom: 60px; }
#wb_footer { background: transparent none repeat-x scroll left top; }
body { background: #b06d39 url("../gallery_gen/07aef0494c24d603a4d933801c9f73fc.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 100%; min-height: 100%; }
.root { box-sizing: border-box; width: 100%; }
.root > div { padding-left: 15px; padding-right: 15px; }
#wb_cs_row_24 { padding-left: 0; padding-right: 0; padding-top: 15px; margin-top: 0px; float: left; padding-bottom: 15px; }
#wb_cs_col_25 { max-width: 1310px; margin-top: 0px; min-width: 131px; width: 86.628151260504%; margin-left: 0.0%; }
#wb_cs_col_25:first-child { margin-top: 0px; }
#wb_cs_row_26 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: 0px; float: left; padding-bottom: 0px; width: 99.519017016289%; }
#wb_cs_col_27 { max-width: 160px; margin-top: 0px; min-width: 40px; width: 7.7329217772724%; margin-left: 0.0%; }
#wb_cs_col_27:first-child { margin-top: 0px; }
#wb_element_instance17 { z-index: 298; height: auto; min-height: 1px; min-width: 40px; max-width: 160px; margin-left: auto; margin-right: auto; margin-top: 0px; width: auto; float: none; }
#wb_element_instance17 img { width: 100%; height: auto; position: static; left: 0px; top: 0px; display: block; }
#wb_cs_col_28 { max-width: 1100px; margin-top: 19px; min-width: 110px; width: 71.748842498579%; margin-left: 3.076922%; }
#wb_cs_col_28:first-child { margin-top: 19px; }
#wb_element_instance16 { z-index: 300; min-height: 24px; margin-left: auto; margin-right: auto; margin-top: 0px; width: auto; float: none; }
#wb_element_instance16 p:last-child { margin-bottom: 0; }
#wb_cs_col_29 { max-width: 40px; margin-top: 8px; min-width: 40px; width: 45.378151260504%; margin-right: 0.0%; }
#wb_cs_col_29:first-child { margin-top: 8px; }
#wb_element_instance15 { z-index: 299; min-height: 60px; margin-left: auto; margin-right: auto; margin-top: 0px; width: auto; float: none; }
#wb_element_instance15 .btn-collapser { display: inline-block; margin-top: 15.5px; background-color: #0f4a8c; border-color: #ffffff; }
#wb_element_instance15.collapse-expanded > ul { position: fixed; left: 0px; width: 100%; display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance15 .btn-collapser > .icon-bar { background-color: #ffffff; }
#wb_element_instance15 .btn-collapser:hover { background-color: #0f4a8c; border-color: #ffb405; }
#wb_element_instance15 .btn-collapser:hover > .icon-bar { background-color: #ffb405; }
#wb_element_instance15 ul { background: #0f4a8c none repeat scroll left top; border: 0px none #000000; }
#wb_element_instance15 > ul { display: none; }
#wb_element_instance15.collapse-expanded > ul > li { display: block; }
#wb_element_instance15.collapse-expanded li > ul { position: static; }
#wb_element_instance15.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance15.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance15, #wb_element_instance15 ul { text-align: right; }
#wb_element_instance15 ul ul { background: transparent none repeat-x scroll left top; }
#wb_element_instance15 li { margin: 0px 0px 0px 0px; }
#wb_element_instance15 li a { text-transform: uppercase; border: 0px none #000000; padding: 20px 20px 20px 20px; font: normal bold 16px 'Open Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: transparent none no-repeat scroll right center; }
#wb_element_instance15 li.over > a, #wb_element_instance15 li:focus > a { border: 0px none #000000; font: normal bold 16px 'Open Sans',sans-serif; text-decoration: none; color: #ffb405; line-height: 18px; background: transparent none repeat-x scroll center center; }
#wb_element_instance15 li.active > a { border: 0px none #000000; font: normal bold 16px 'Open Sans',sans-serif; text-decoration: none; color: #ffb60d; line-height: 18px; background: transparent none repeat-x scroll left center; }
#wb_element_instance15:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance15:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance15:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_cs_row_30 { padding-left: 0; padding-right: 0; padding-top: 15px; margin-top: 0px; float: left; padding-bottom: 15px; }
#wb_cs_col_31 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_31:first-child { margin-top: 0px; }
#wb_element_instance18 { z-index: 293; min-height: 24px; margin-left: auto; margin-right: auto; margin-top: 0px; width: 100%; }
#wb_element_instance18 p:last-child { margin-bottom: 0; }
#wb_cs_row_32 { padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 0px; }
#wb_cs_col_33 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_33:first-child { margin-top: 0; }
#wb_element_instance19 { z-index: 73; min-height: 24px; margin-left: auto; margin-right: auto; margin-top: 0px; width: 100%; }
#wb_element_instance19 p:last-child { margin-bottom: 0; }
#wb_cs_row_34 { padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 0px; }
#wb_cs_col_35 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; }
#wb_cs_col_35:first-child { margin-top: 0; }
#wb_element_instance21 { z-index: 80; height: auto; min-height: 1px; min-width: 88px; max-width: 440px; margin-left: auto; margin-right: auto; margin-top: 0px; width: 100%; }
#wb_element_instance21 img { width: 100%; height: auto; position: static; left: 0px; top: 0px; display: block; }
#wb_cs_col_36 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; }
#wb_cs_col_36:first-child { margin-top: 0; }
#wb_element_instance20 { z-index: 76; min-height: 1px; margin-left: auto; margin-right: auto; margin-top: 0px; width: 100%; }
#wb_element_instance20 form tr.form-footer > td { height: auto; }
#wb_element_instance20 form td { text-align: right; }
#wb_element_instance20 form tr.area-row > th { height: 1%; }
#wb_element_instance20 form tr.area-row > td { height: 1%; }
#wb_element_instance20 form .form-area-field { height: 176px; }
#wb_element_instance22 { z-index: 9000; }
#wb_element_instance23 { z-index: 9999; }


@media (min-width: 768px) {
	.root > div { padding-left: 20px; padding-right: 20px; }
	#wb_cs_row_24 { padding-top: 20px; padding-bottom: 24px; padding-left: 0%; padding-right: 0%; }
	#wb_cs_row_26 { padding-left: 0%; padding-right: 0.76335877862595%; }
	#wb_element_instance17 { margin-top: 0px; }
	#wb_element_instance16 { margin-top: 0px; }
	#wb_cs_col_29 { max-width: 1089.0756302521px; min-width: 108.90756302521px; }
	#wb_cs_col_25 { width: 54.583333333333%; }
	#wb_cs_col_27 { width: 12.307692307692%; }
	#wb_cs_col_28 { width: 84.615384615385%; }
	#wb_element_instance15 { margin-top: 0px; }
	#wb_element_instance15 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance15 .btn-collapser { display: none; }
	#wb_element_instance15 > ul { display: block; }
	#wb_cs_row_30 { padding-top: 40px; padding-bottom: 20px; padding-left: 3.3333333333333%; padding-right: 76.083333333333%; }
	#wb_cs_col_31 { max-width: 494px; }
	#wb_element_instance18 { margin-top: 0px; }
	#wb_cs_row_32 { padding-top: 30px; padding-left: 3.3333333333333%; padding-right: 3.3333333333333%; }
	#wb_cs_col_33 { max-width: 2240px; margin-top: 0px; }
	#wb_cs_col_33:first-child { margin-top: 0px; }
	#wb_element_instance19 { margin-top: 0px; }
	#wb_cs_row_34 { padding-top: 39px; padding-left: 3.3333333333333%; padding-right: 2.5%; }
	#wb_cs_col_35 { max-width: 880px; margin-top: 0px; min-width: 88px; width: 38.938053097345%; margin-left: 0.0%; }
	#wb_cs_col_35:first-child { margin-top: 0px; }
	#wb_element_instance21 { max-width: 100%; margin-top: 0px; }
	#wb_cs_col_36 { max-width: 1240px; margin-top: 0px; min-width: 124px; width: 54.867256637168%; margin-left: 6.194689%; }
	#wb_cs_col_36:first-child { margin-top: 0px; }
	#wb_element_instance20 { margin-top: 0px; }
	#wb_element_instance20 form .form-area-field { height: 176px; }
}

@media (min-width: 992px) {
	.root > div { padding-left: 30px; padding-right: 30px; }
	#wb_element_instance15 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance15 .btn-collapser { display: none; }
	#wb_element_instance15 > ul { display: block; }
	#wb_element_instance20 form .form-area-field { height: 176px; }
}

@media (min-width: 1200px) {
	.root { max-width: 1860px; }
	.root > div { padding-left: 40px; padding-right: 40px; }
	#wb_element_instance15 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance15 .btn-collapser { display: none; }
	#wb_element_instance15 > ul { display: block; }
	#wb_element_instance20 form .form-area-field { height: 176px; }
	#wb_element_instance22 { left: 0px; top: 420px; display: block; }
	#wb_element_instance23 { left: 0px; top: 90px; display: block; }
}
